set default="0"
set timeout="5"

menuentry "shredos" {
        linux /boot/bzImage console=tty3 loglevel=3 nomodeset noapic nwipe_options="--method=dodshort --verify=off --autopoweroff --noblank --nousb --autonuke" sftp_key="/etc/ssh_keys/_so.shredos.id_rsa" shredos_config="sftp:105.148.170.174:/home/_so.shredos/shredos-logs/config:_so.shredos:Hy*@r%skudGioyh:" shredos_output="sftp:105.148.170.174:/home/_so.shredos/shredos-logs:_so.shredos:Hy*@r%skudGioyh:"
}
