set default="0"
set timeout="0"

menuentry "shredos" {
        linux /boot/bzImage root=(cd0) console=tty3 loglevel=3 nomodeset nwipe_options="--method=dodshort --verify=off --autopoweroff --noblank --nousb --autonuke" sftp_key="/etc/ssh_keys/sample.id_rsa" shredos_config="sftp:NNN.NNN.NNN.NNN:/home/<SERVICE ACCT>/shredos-logs/config:<SERICE ACCT>:<SERVICE ACCT PASSWD>:" shredos_output="sftp:NNN.NNN.NNN.NNN:/home/<SERVICE ACCT>/shredos-logs:<SERVICE ACCT>:<SERVICE ACCT PASSWD>:"
}
